<div class="row w-75 text-center mx-auto">
  <div>
    <h2 id="test">Create Login for Website and Sign Up Below</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <label for="tShirt-signup">T-Shirt Size:</label>
        <input class="form-input" type="text" id="tShirt-signup" />
      </div>
      <div class="form-group">
        <label for="swim-signup">Will you particite in the swimming portion? [Checking the box means yes]</label>
        <input class="form-input" type="checkbox" id="swim-signup" />
      </div>
       <div class="form-group">
        <label for="bike-signup">Will you particite in the bike portion?</label>
        <input class="form-input" type="checkbox" id="bike-signup" />
      </div>
       <div class="form-group">
        <label for="run-signup">Will you particite in the run portion?</label>
        <input class="form-input" type="checkbox" id="run-signup" />
      </div>
       <div class="form-group">
        <label for="volunteer-signup">Would you like to volunteer</label>
        <input class="form-input" type="checkbox" id="volunteer-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Sign up!</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>
