<div class="info-boxes">
  <div class="info-text"><i class="fa-solid fa-ice-cream"></i> What: 
    <br> This triathlon is unlike any that you have been apart of in the past because you can choose your own adventure!
    <br>Want to run, but not swim? Want to sun tan, bike, and walk? Want to do none of it, but come over for ice cream <br> -- Sounds great! -- <br>   </div>

</div>