<div class="info-boxes">
  <div class="info-text"><i class="fa-solid fa-ice-cream"></i> Where: 
  <p> Optional Portions:
    <!-- If hover over link, will show you webpage? -->
    <br>
    <i class="icon animate__animated animation-timing animate__backInRight fa-solid fa-person-swimming"></i> SWIM/PADDLE/FLOAT ROUTE: <a href="https://earth.google.com/web/@47.55288806,-122.25596016,7.58916337a,674.14110544d,35y,0h,0t,0r" target="_blank">Swim from the Clay studio to the swim docks and back!</a> ~0.5 miles
    <br>
    <i class="icon animate__animated animate__rollIn fa-solid fa-bicycle"></i> BIKE ROUTE: <a href="https://goo.gl/maps/U11XgG5Z4NMqpLJr8" target="_blank">Bike from the Clay Studio to my house! </a> ~12.9 miles
    <br>
    <i class="icon animate__animated animate__bounce fa-solid fa-person-running"></i> RUN/WALK ROUTE: <a href="https://goo.gl/maps/oSxFB93wUtkyMBEg6" target="_blank">Run around the neighborhood!</a> ~3.1 miles
    <br>
    <br>
    ICE CREAM!! @ 4618 S. Genesee St. Seattle, WA 98118
    </i>
  </p>
  
  
  </div>

</div>