<div class="row mx-auto">
  <div>
    <h2>Welcome!</h2>
  </div>
</div>


<div class="col-md-6 mx-auto container">
  <h2>Triathalon Participants:</h2>

  {{#each events as |event|}}
  <div class="card mb-2">
    <div class="card-body border border-3 border-warning warning-bg-subtle rounded">
      <h4 class="card-title">
        {{event.user.name}}
      </h4>
        {{!-- double check events and user object array because calling model properties is currently not working --}}
      <p class="card-text">
      Has signed up for {{event.name}}!
      </p>
    </div>
  </div>
  {{/each}}
</div>

