<div class="col-md-6 container">
  <h2>Triathlon Participants:</h2>
  
  {{#each users as |user|}}
  <div class="card mb-2">
    <div class="card-body col-md-8 border border-3 border-warning rounded">
      <h4 class="card-title">
        {{user.name}}
      </h4>
      <!-- is checking whether the user object is empty or not -->
      {{#if user.events.length}}
        <p class="card-text">
          Has signed up for:
          <ul>
            <!-- This code is used to display the events that each user has signed up for. -->
            {{#each user.events as |event|}}
              <li>{{event.name}}</li>
            {{/each}}
          </ul>
        </p>
      {{else}}
        <p class="card-text">Has not signed up for any events yet.</p>
      {{/if}}
    </div>
  </div>
  {{/each}}
</div>