<div class="row">
  <div class="col-auto">
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
  {{> registration}}
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6 event-list">
    <h3>Current Events:</h3>

    {{#each users as |user|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/user/{{user.id}}">{{user.name}}</a></h4>
      </div>
      <div class="col-md-4">
        {{!-- <button class="btn btn-sm btn-danger" data-id="{{event.id}}">DELETE</button> --}}
      </div>
    </div>
    {{/each}}
  </div>
</div>

{{!--
<script src="./js/profile.js"></script> --}}