<!DOCTYPE html>
<html>

<head>
  <title>Vote for your favorite item</title>
  <script type="module" src="/js/voting.js"></script>

</head>

<body>
  <div class="container mx-auto">
    <h1 class="row">Vote for your favorite item:</h1>
    <div class="row">
      <div class="col-4">
        <form id="votingForm">
          {{#each flavors as |flavor|}}
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id={{id}}>
            <label class="form-check-label" for={{id}}>
              {{name}}
            </label>
          </div>
          {{/each}}
          <button class="btn btn-primary">Submit!</button>

        </form>
      </div>
      <div class="col-8">
        <canvas id="flavor-votes"></canvas>
      </div>
      
    </div>

  </div>

  <script src="/js/voting.js" type="module"></script>
</body>

</html>