<!DOCTYPE html>
<html>

<head>
  <title>Vote for your favorite item</title>
<<<<<<< HEAD
</head>

<body>
  <div class="container">
=======
  {{!-- type="module" used to be in line below --}}
  
</head>

<body>
  <div class="container mx-auto">
>>>>>>> d007e0448b9e73a9bd89002c9ec20364a8d3813d
    <h1 class="row">Vote for your favorite item:</h1>
    <div class="row">
      <div class="col-4">
        <form id="votingForm">
          {{#each flavors as |flavor|}}
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id={{id}}>
            <label class="form-check-label" for={{id}}>
              {{name}}
            </label>
          </div>
          {{/each}}
<<<<<<< HEAD
          <button class="btn btn-primary">Submit!</button>
=======
          <button class="btn btn-primary " id="submit-btn">Submit!</button>
>>>>>>> d007e0448b9e73a9bd89002c9ec20364a8d3813d

        </form>
      </div>
      <div class="col-8">
        <canvas id="flavor-votes"></canvas>
      </div>
      
    </div>

  </div>

<<<<<<< HEAD

=======
  {{!-- <script src="/js/voting.js" type="module"></script> --}}
>>>>>>> d007e0448b9e73a9bd89002c9ec20364a8d3813d
</body>

</html>