<div class="info-boxes">
  <div class="info-text"><i class="fa-solid fa-ice-cream"></i> Want to Volunteer? <br>
  Want to watch bikes during the swim? Be the event photographer? Set up the ice cream station? Help clean up at the end? Create the t-shirts? Lead a group stretch? Please email me!
  </div>

</div>