<nav class="row">
    {{!-- <div class="col-md-3">Logo</div>
    <div class="col-md-3">Home</div>
    <div class="col-md-3">About</div> --}}
    <div class="col-md-3">
        <nav>
            <a href="/">Home</a>
            <!-- If the user is logged in, show a logout button -->
            {{#if loggedIn}}
            <button id="logout" class="col-md-3 btn-no-style">Logout</button>
            {{else}}
            <!-- Otherwise, show a link to login -->
            <a href="/login">Login</a>
            <a href="/voting">Voting</a>
            {{/if}}
        </nav>
        
    </div>
</nav>