<div class="info-boxes w-75 text-center mx-auto">
  <div class="info-text"><i class="fa-solid fa-ice-cream"></i> Registration: 
  <br>
  If you'd like to be apart of this soon to be legendary event, please fill out the form below and pay a small registration fee [$5-$20 suggested] if you can. 
  <br> 
  The registration fee would include the treats at the end of the race, access to water, bike pumps, adult beverages, as well as a thrifted and potentially tye-dyed t-shirt to commemberate this event.
<br>
<br>

<div class="row w-75 text-center mx-auto">
  <div>
    <h2 id="test">What events would you like to be apart of?</h2>

    <form class="form register-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="tShirt-signup">T-Shirt Size:</label>
        <input class="form-input" type="text" id="tShirt-signup" />
      </div>
      <div class="form-group">
        <label for="swim-signup">Will you participating in the swimming portion? [Checking the box means yes]</label>
        <input class="form-input" type="checkbox" id="swim-signup" />
      </div>
       <div class="form-group">
        <label for="bike-signup">Bike portion?</label>
        <input class="form-input" type="checkbox" id="bike-signup" />
      </div>
       <div class="form-group">
        <label for="run-signup">Run portion?</label>
        <input class="form-input" type="checkbox" id="run-signup" />
      </div>
       <div class="form-group">
        <label for="volunteer-signup">Would you like to volunteer?</label>
        <input class="form-input" type="checkbox" id="volunteer-signup" />
      </div>
      <br>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Sign up!
              <a href="/profile"></a>
        </button>
      </div>
    </form>
  </div>
</div>

{{!-- <div class="form-group">
  <button class="btn btn-primary">
    <a href="/login">Sign up!</a>
  </button>
</div> --}}

<br>

Find me on Venmo @Casey-Fee-1. <!-- Insert QR code/hyperlink of venmo --></div>

<!-- Name: -->
<!-- T-shirt Size: -->
<!--  -->
<!-- Check Boxes for what parts of the event you'd like to do -->


</div>