/* Set the font family for all elements */
* {
  font-family: 'Lilita One', 'Times New Roman', sans-serif;
}

/* Add a bottom border to header and all project elements except the last one */
header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

/* Center the body element and set its width to 75% */
body {
 width:auto;
 height: auto;
 display: flex;
 justify-content: center;
 align-items: center;
}

/* Set the height and width of the #sprinkles div to auto */
.sprinkles {
  background-attachment:fixed;
  background-position:center;
}

/* Center the content in the sundae div */
.sundae {
  justify-content: center;
  align-items: center;
}

.scoops {
  background-color: black;
  width: 75%;
  text-align: center;
  margin:auto;
  padding: 50px;
}