/* Set the font family for all elements */
* {
  font-family: 'Lilita One', 'Times New Roman', sans-serif;
}

/* Add a bottom border to header and all project elements except the last one */
header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

/* Center the body element and set its width to 75% */
body {
  background-image: url('https://images.unsplash.com/photo-1516746924755-babd21844370?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-attachment:fixed;
  background-position:auto;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  opacity: 0.9;
 width:auto;
 height: auto;
 display: flex;
 justify-content: center;
 align-items: center;
}

/* Set the height and width of the #sprinkles div to auto */
.sprinkles {
  height:fit-content;
}

/* Center the content in the sundae div */
.sundae {
  justify-content: center;
  align-items: center;
  height:fit-content;
  padding: 100px;
}

.scoops {
  background-color: #ffffff;
  width: 75%;
  height:fit-content;
  text-align: center;
  margin:auto;
  padding: 100px;
}

